.App {
  font-family: sans-serif;
  text-align: center;
}

/* search bar styles */
.searchBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
}
.searchBar .inputSubmit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.searchBar input {
  width: 60%;
  margin-right: 20px;
  padding: 10px;
  border-width: 1px 2px 3px 1px;
  border-radius: 10px;
  border-color: #e12145;
}
.searchBar input:focus {
  outline: none;
  border-radius: 3px;
  border-width: 0px 0px 4px 0px;
}
.searchBar button {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  border: 0px;
  background-color: #e12145;
  cursor: pointer;
}
.searchForm {
  display: flex;
  align-items: flex-start;
  align-self: left;
  width: 90%;
}

/* player container styles */
.playerContainer {
  margin-top: 20px;
}
.playerContainer iframe {
  width: 90%;
  height: 500px;
}
.playerContainer .playerMetadata {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
.playerContainer .playerMetadata p {
  text-align: left;
  margin-bottom: 5px;
}
.playerMetadata p#descr {
  margin-left: 10px;
}
.playerMetadata p#channel {
  margin-left: 10px;
}

/* header styles */
.header {
  display: flex;
  justify-content: center;
  background-color: #ecf0f1;
  padding: 20px;
}
.header h1 {
  color: #e12145;
}
.header .logo {
  height: 90px;
  padding-right: 10px;
}

/* error & warnings */
.error {
  font-weight: bold;
  color: red;
}
.warning {
  font-weight: bold;
  color: orange;
}
